@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

:root {
    --main-bg-color: brown;
    --text-primary-color: #363958;
    --text-secondary-color: #3E3E3E;
    --text-orange-color: #FF8367;
    --font-secondary: 'Bebas Neue'
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
font-family: 'Roboto', sans-serif;
background-color: #fff;
color:var(--text-primary-color)
}

.container{
    max-width: 1100px;
    margin:0 auto;

}
.navbar{
    margin:40px;
}
.navbar ul{
    display:flex;
    justify-content: end;
    list-style: none;
    gap: 40px;
    font-size:16px;
    font-weight: 500;

}
.header{

    margin-top:120px;
    display: flex;
    flex-wrap: wrap;
    flex:0 0 1;
    position: relative;
}
.header h1{
    font-size: 80px;
    color: var(--text-primary-color);
   text-transform: uppercase; 
   font-family: var(--font-secondary);
    
} 

.header h1 span{
    color:var(--text-orange-color);
    display:block;
}
.button{
    color:#E5E5E5;
    background-color: rgb(255, 128, 99);
    background: linear-gradient(90deg, rgba(255,128, 99) 0%, rgba(244, 96, 96,1) 16%);
    font-size:16px;
    padding: 18px 55px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top: 36px;
}

.button:active{
    transform:scale(.97);
}

.banner-image-1 img{
    height: 613px;
    width: 465px;
    position:absolute;
    top:-60%;
    right: 10%;
    
}

.hero-2{
    display: flex;
    flex: 0 0 1;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-top: 120px;
    width: 100%;
    position:relative;
}
.banner-img2 img {
    height: 613px;
    width: 465px;
    position: absolute;
    top: -20px;
    left:0;
}
.hero-info{
    padding-left: 150px;
    padding-right: 50px;
}
.hero-2 h2{
    font-size: 30px;
}
.hero-2 div{
    width:50%;
}
#portfolio-section{
    margin-top: 300px;
    background-color: #E5E5E5;
    
}
.portfolio h1{ 
    font-size: 48px;
    margin-bottom: 85px;
    
    

    
}
.portfolio h1 span{
    color: #F46060;
}
.portfolio{
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    align-items: center;
}
.portfolio-image img{
    width: 100%;
}
.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.33%;
    gap: 30px;
}
.portfolio-item{
    width: calc(33.33% - 30px);
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
border-radius: 19.7436px;
    
}
.portfolio-info{
    padding: 15px;
}